.featured {
  grid-column: 1 / -1;
  margin-bottom: 2em;

  &__list {
    @include flex-col(1.75em);

    @include respond(laptop) {
      flex-direction: row;
    }
  }
  &__item {
    display: flex;
    gap: 1.25em;
  }

  img {
    width: 6rem;
  }

  .item-number {
    font-size: 2em;
    color: $color-gray-blue;
    font-weight: 700;
    line-height: 1.25;
  }

  .item-heading {
    font-size: 1.125rem;
    font-weight: 800;
    transition: 0.3s ease-out;
    &:hover,
    &:active {
      color: $color-red;
    }
  }

  .paragraph {
    color: $color-gray-blue--dark;
  }
}
