.news {
  background-color: $color-dark-blue;
  padding: 1.5em;

  h2 {
    color: $color-orange;
    margin-bottom: 1em;
  }
  .item-heading {
    font-weight: 700;
    color: $color-white;
    transition: 0.3s ease-out;

    &:hover,
    &:active {
      color: $color-orange;
    }
  }
  .paragraph {
    color: $color-gray-blue;
  }

  &__list {
    @include flex-col(0);
  }

  &__item {
    border-bottom: 1px solid $color-gray-blue--dark;
    padding: 2em 0;
  }
  &__item:last-child {
    border: none;
    padding-bottom: 0;
  }

  &__item:first-child {
    padding-top: 0;
  }
}
